:host {
  width: 100%;
  max-width: 100%;
  height: 100%;
  border: 0;
  margin: 0;
  padding: 0;
  word-break: break-word;
  flex: 1;
}

:host ul {
  margin: 10px 5px;
  display: inline-block;
}

:host ul li {
  color: white;
  width: 240px;
  height: 140px;
  background: #0074c7;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  font-weight: 700;
  font-size: 1.25em;
  word-break: break-all;
  cursor: pointer;
  float: left;
  display: block;
}

:host ul li span {
    line-height: 190px;
    margin: 4px;
}

li#new-board {
  background: transparent !important;
  padding: 0;
}

li#new-board span {
  color: grey;
  font-weight: 100;
  line-height: 250px;
}

li#new-board span:hover {
  text-decoration: underline;
}