:host {}

.new-card {
  margin: 0 5px;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
  font-weight: 300;
}

div {
  padding: 15px;
}

md-input {
  width: 100%;
}

div.sub-edit {
  padding-bottom: 10px;
}
