:host {
  width: 300px;
	height: calc(100% - 50px);
	position: absolute;
	z-index: 6;
	top: 50px;
	right: 0;
	background: white;
	transition: right 0.3s ease-in-out;
	box-shadow: -4px 0 8px -5px #000;
	display: flex;
  flex-direction: column;
}

.filler {
	flex: 1 1 auto;
}

#side-board-name {
	font-size: 2em;
	font-weight: 700;
}

:host md-toolbar {
	padding: 0 50px;
}

:host md-toolbar span {
	position: absolute;
	left: 16px;
	cursor: pointer;
}

:host .content {
	flex-grow: 1;
	padding: 20px;
}
