:host {
  width: 200%;
	height: calc(100% - 50px);
  border: 0;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  position: relative;
  left: 0px;
  transition: left 0.4s ease-in-out;
	overflow-y: scroll;
}

:host(.opened) {
  left: -100%;
}