:host {
  width: 100%;
  height: 100%;
  border: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.title-pan {
	width: 100%;
	min-height: 50px;
	height: 50px;
	-webkit-app-region: drag;
  -webkit-user-select: none;
	background: #0089ec;
	display: flex;
  justify-content: space-between;
	z-index: 10;
	position: relative;
}

.title-p {
	margin: 0;
  line-height: 50px;
  margin-left: 25px;
  font-size: 25px;
	font-weight: bold;
	color: #fafafa;
	cursor: pointer;
}

.window-controls {
  width: 100px;
	height: 46px;
  line-height: 50px;
  margin: 2px 12px;
	display: flex;
}

.window-controls div {
	cursor: pointer;
	-webkit-app-region: no-drag;
}

.window-controls div i {
	color: #fafafa;
	margin: 0 5px;
}

.window-controls div:first-child {
	display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.window-controls div:first-child i {
	line-height: 32px;
}

.window-controls div:last-child:hover i {
	color: red;
}

#status-block {
	height: 30px;
	background: darkturquoise;
	z-index: 5;
	position: relative;
	top: -30px;
	transition: top 0.3s ease-out;
}

#status-block span {
	line-height: 30px;
	margin: 0 20px;
	color: white;
	font-size: medium;
	font-weight: 700;
}